{% extends 'Frontend/base.html.twig' %}

{% block title %}Hello FrontendIndexController!{% endblock %}

{% block body %}

    <div class="content">

        <h3><center>{{page_list.title}}</center></h3>
    
        {{page_list.fields | raw}}
        
    </div>

{% endblock %}

{% block javascripts %}



{% endblock %}
