{% extends 'Frontend/base.html.twig' %}

{% block title %}Hello FrontendIndexController!{% endblock %}

{% block body %}

    <nav class="navbar navbar-default navbar-fixed" role="navigation">
        
        <div class="navbar-header">	
            <a class="navbar-brand" href="#">Creation de formulaire dynamique</a>
        </div>

        <form class="navbar-form navbar-left">

            <div class="form-group">	
                <select class="form-control" id="n-columns">
                    <option value="1">1 colonne</option>
                    <option value="2">2 colonnes</option>
                </select>
            </div>

        </form>
    </nav>
    	<div style="margin-top: -20px;">

            <div class="row">
                <div class="col-md-3" style="padding: 0px 30px 30px 30px; background-color: #fff;">
                    <h3>Elements</h3>

                    
                    <div class="form-group draggable">
                        <label for="input-text-1" >Text Input</label>
                        
                        <input type="text" name="textInput[]" class="form-control" >
                    </div>


                    <div class="form-group draggable">
                        <label for="input-text-1" >Number Input</label>
                        
                        <input type="number" name="numberInput[]" class="form-control" >
                    </div>

                    <div class="form-group draggable">
                        <label for="input-password-1" >Date</label>
                        <input type="date" name="dateInput[]" class="form-control" placeholder="date">
                    </div>

                    <div class="form-group draggable">
                        <label for="text-area" >Text Area</label>
                        <textarea src="text" name="textareaInput[]" class="form-control"></textarea>
                    </div>

                    <div class="form-group draggable" style="padding-right: 20px;">
                        <button type="submit" name="buttonInput[]" class="btn btn-primary" >Submit</button>
                    </div>

                    
                </div>

                <div class="col-md-7" style="padding: 30px;">

                    <div style="background-color: #fff; border-radius: 5px; padding: 20px; 
                            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); ">

                        <div class="text-muted empty-form text-center" style="font-size: 24px;">Glisser & Déposer les formulaires à generer
                        </div>

                        <form  id="form-add">

                            <div>
                                <label for="Title" >Titre du page</label>
                                <input type="text" name="title" id="form-title" class="form-control">
                            </div>

                            <div class="row form-body">
                                <div class="col-md-12 droppable sortable">
                                </div>
                                <div class="col-md-6 droppable sortable" style="display: none;">
                                </div>
                                <div class="col-md-6 droppable sortable" style="display: none;">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-primary btn-block">Soumettre</button>
                                </div>
                                <div class="col-lg-6">
                                    <button type="reset" class="btn btn-danger btn-block">Reseter</button>
                                </div>
                            </div>

                        </form>

                    </div>

                </div>

                <div class="col-md-2" style="padding: 0px 30px 30px 30px; background-color: #fff;">
                    <h3>Pages creer</h3>
                        
                        {% for list in page_lists %}
                            <p><a href="{{path('page.show' , {"slug":list.slug})}}" target="_blank">{{ list.title }}</a></p>

                        {% endfor %}

                </div>
            </div>

        </div>

{% endblock %}

{% block javascripts %}

    <script>

        document.getElementById('form-add').addEventListener('submit', function (event) {
            event.preventDefault(); 

            var title       = document.getElementById('form-title').value;

            const toolsElements = document.querySelectorAll('.tools');
            toolsElements.forEach(tool => tool.remove());

            var formHtml    = document.querySelector('.form-body').innerHTML;

            fetch('/add-form', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest', 
                },
                body: JSON.stringify({ 

                    title: title,
                    formHtml: formHtml 
                }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Formulaire sauvegardé avec succès !');
                    location.reload();
                } else {
                    alert('Erreur lors de la sauvegarde.');
                }
            })
            .catch(error => {
                console.error('Erreur :', error);
            });
        });

    </script>

{% endblock %}
